#title {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(202, 243, 245); 
    gap: 40px;
}

#container {
    border: 2px solid black;
    box-sizing: border-box;
    width: 580px;
    height: 580px;
    display: flex;
    margin: 15px;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-self: center; */
}

.gridBox {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#buttons {
    display: flex;
    gap: 20px;
}
